Humble pranams to Modiji for making the semicon program to make Bharat great again
This is made open source such that students, academicians and industry would benefit.
Thanks to all my teachers who had made me upto this level.
